.page-path {
  margin-top: var(--header-height);
  background-color: var(--clr-accent-light);
  height: var(--breadcrumbs-height);
}
.page-path .container {
  display: flex;
  align-items: center;
  height: 100%;
}
.page-path p {
  font-size: 0.9rem;
}
.page-path h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0;
  color: rgb(80, 80, 80);
}
