.checkout-steps {
  display: flex;
  margin-top: calc(var(--header-height) + 0.4rem);
  padding: 0 1rem;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.checkout-steps > div {
  border-top: 0.3rem solid grey;
  color: grey;
  flex: 1;
  padding: 0.5rem;
  letter-spacing: 0.5px;
  font-size: 0.9em;
  font-weight: 600;
}
.checkout-steps > div.active {
  border-top-color: var(--clr-accent-main);
  color: var(--clr-accent-main);
}
