.user-form-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  height: 100%;
}
.user-form-section .col-1 {
  padding: 1.5rem 0;
}
.user-form-section .col-1 .form {
  max-width: 25.8rem;
  margin-left: auto;
  margin-right: auto;
}
.user-form h3 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 4rem;
  color: var(--clr-grey-8);
  letter-spacing: 0.2px;
}
.user-form h4 {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--clr-grey-8);
  margin-bottom: 3rem;
}
.user-form .form-submit-btn {
  background: var(--clr-primary-5);
  margin-top: 0.5rem;
  margin-bottom: 2.8rem;
  transition: background 0.3s;
}
.user-form .form-submit-btn:hover {
  background: var(--clr-primary-6);
}
.new-customer {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.new-customer a {
  text-decoration: underline;
  font-weight: 500;
}
.new-customer a:active {
  color: var(--clr-primary-5);
}
.user-form-section .col-2 {
  width: 100%;
  max-width: 50rem;
  margin-right: auto;
  background: var(--clr-primary-5);
  display: grid;
  place-items: center;
}
.user-form-section .col-2 img {
  width: 30rem;
  display: block;
  /* margin: 7rem auto; */
  padding: 0.5rem;
}
.user-form-section .col-2 .signup-svg {
  width: 32rem;
}
.user-form .form-control {
  position: relative;
}
.password-toggle-icon {
  position: absolute;
  top: 26px;
  cursor: pointer;
  z-index: 100;
  right: 12px;
  font-size: 1.5rem;
  color: var(--clr-grey-9);
}

@media screen and (min-height: 780px) {
  .user-form-section {
    min-height: 680px;
  }
}

@media screen and (max-width: 760px) {
  .user-form-section {
    grid-template-columns: 1fr;
  }
  .user-form-section .col-2 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .user-form h3 {
    font-size: 0.9rem;
    letter-spacing: 0;
    padding-top: 2.2rem;
    margin-bottom: 0.5rem;
  }
  .user-form h4 {
    font-size: 1.2rem;
  }
  .new-customer {
    font-size: 0.8rem;
  }
  .password-toggle-icon {
    top: 23px;
    right: 11px;
    font-size: 1.4rem;
  }
}
