.empty-cart-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-size: 1.2rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-cart-text h3 {
  font-weight: 300;
  margin-bottom: 1rem;
}
.cart-table-container {
  margin-bottom: 12rem;
}
@media screen and (max-width: 680px) {
  .empty-cart-text h3 {
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
  }
}

/* table header */
.cart-table-header {
  display: grid;
  grid-template-columns: 21rem 1fr 1fr 1fr 1fr 4rem;
  padding: 1.1rem 0;
  border-bottom: 1px solid var(--clr-grey-11);
}
.cart-table-header > div {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: var(--clr-grey-text);
}

/* table row */
.cart-table-row {
  display: grid;
  grid-template-columns: 7rem 1fr 4rem;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--clr-grey-11);
}
.cart-table-row > div:not(:first-child) {
  text-align: center;
}
.product-cart-info {
  display: grid;
  grid-template-columns: 14rem 1fr 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
}
.row-product-cont img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 0.9rem;
}
.row-product-info-cont {
  text-align: start;
}
.row-product-info-cont h4 {
  margin-bottom: 0.7rem;
  white-space: wrap;
  width: 225px;
  color: var(--clr-grey-8);
  color: var(--clr-primary-4);
}
.var-text span {
  color: var(--clr-grey-9);
  font-weight: 400;
}
.row-price,
.row-price .peso-sign,
.row-total,
.row-total .peso-sign,
.subtotal-value,
.subtotal-value .peso-sign {
  color: var(--clr-accent-main-hover);
}
.var-text {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}
.product-sched span,
.product-sched {
  font-size: 0.9rem;
  color: var(--clr-grey-9);
  font-weight: 400;
}
/* table qty */
.row-qty select {
  padding: 0.3rem 1.5rem;
}

/* table remove btn */
.row-remove-btn {
  font-size: 1.5rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: background 0.3s;
  display: grid;
  place-items: center;
  margin-left: auto;
}
.row-remove-btn:hover {
  background: var(--clr-grey-10);
}

.cart-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
  /* overflow: hidden; */
  padding: 0.8rem;
}
.cart-footer .container {
  display: flex;
  align-items: center;
}
.cart-summary-cont {
  width: 21rem;
  padding: 1rem 1.1rem;
  border-radius: 9px;
  border: 1px solid var(--clr-grey-10);
  margin-left: auto;
}
.cart-summary-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.cart-summary-flex p:first-child {
  color: var(--clr-grey-9);
  text-transform: uppercase;
}
.cart-summary-cont .form-submit-btn {
  margin-top: 0.6rem;
}

/* tablet */
@media screen and (max-width: 880px) {
  /* table header */
  .cart-table-header {
    grid-template-columns: 17rem 1fr 1fr 1fr 1fr 2.5rem;
    padding: 0.9rem 0;
  }
  .cart-table-header > div,
  .var-text,
  .var-text span,
  .row-total,
  .row-price,
  .arrow-back-button,
  .cart-summary-flex p:first-child,
  .cart-footer .form-submit-btn {
    font-size: 0.9rem;
  }
  /* table row */
  .cart-table-row {
    grid-template-columns: 6rem 1fr 2.5rem;
    padding: 0.8rem 0;
  }
  /* table product */
  .row-product-cont img {
    width: 5rem;
    height: 5rem;
    margin-right: 0.8rem;
  }
  .product-cart-info {
    grid-template-columns: 11rem 1fr 1fr 1fr 1fr;
  }
  .row-product-info-cont h4 {
    width: 215px;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
  }
  /* sched */
  .product-sched span,
  .product-sched {
    font-size: 0.8rem;
  }
  /* table qty */
  .row-qty select {
    padding: 0.3rem 1.2rem;
  }
  /* table remove btn */
  .row-remove-btn {
    font-size: 1.4rem;
    width: 2.4rem;
    height: 2.4rem;
  }
  .cart-summary-flex p:last-child {
    font-size: 1rem;
  }
}

/* big mobile screen */
@media screen and (max-width: 740px) {
  .cart-table-header {
    display: none;
  }
  .cart-table-row {
    grid-template-columns: 7rem 1fr 2.5rem;
    gap: 1rem;
    padding: 0.7rem 0;
  }
  .row-product-cont {
    height: 100%;
    display: flex;
    align-items: flex-start;

    justify-content: center;
  }
  .row-product-cont img {
    margin-top: 0.2rem;
    margin-right: 0;
  }
  .product-cart-info {
    display: flex;
    gap: 0.6rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .row-product-info-cont h4 {
    font-weight: 500;
    width: 100%;
    margin: 0;
  }
  .row-price,
  .row-price .peso-sign {
    color: var(--clr-accent-main-hover);
  }
  .var-text,
  .var-text span,
  .row-price {
    line-height: 1;
  }
  .var-text {
    font-weight: 400;
  }
  .row-remove-btn {
    align-self: flex-start;
    margin-top: -0.5rem;
  }
  .cart-table-row .product-sched span,
  .cart-table-row .product-sched,
  .row-total {
    display: none;
  }
  .cart-summary-flex {
    margin-bottom: 0.2rem;
  }
  .cart-summary-flex p:first-child,
  .cart-summary-flex p:last-child {
    font-size: 0.9rem;
  }
  .cart-summary-cont .form-submit-btn {
    margin-top: 0;
  }
}

@media screen and (max-width: 620px) {
  .arrow-back-button {
    display: none;
  }
  .cart-table-container .arrow-back-button-small {
    font-size: 0.8rem;
    margin-top: 1.8rem;
    display: inline-flex;
  }
  .cart-summary-cont {
    width: 90%;
    padding: 1rem;
    border: unset;
    margin-left: auto;
    margin-right: auto;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  .cart-table-row {
    grid-template-columns: 5rem 1fr 2.5rem;
    gap: 0.7rem;
    padding: 0.6rem 0;
  }
  .row-product-cont img {
    margin-top: 0.2rem;
    margin-right: 0;
    height: 4rem;
    width: 4rem;
  }
  .product-cart-info {
    gap: 0.5rem;
  }
  .row-product-info-cont h4 {
    font-size: 0.9rem;
  }
  .var-text,
  .var-text span,
  .row-price {
    font-size: 0.9rem;
  }

  .row-qty select {
    padding: 0.2rem 1rem;
  }
  .cart-summary-cont {
    width: 100%;
    padding: 0 0 0.3rem;
  }
  .cart-summary-flex {
    margin-bottom: 0;
  }

  .cart-summary-cont .form-submit-btn {
    margin-top: 0.5rem;
  }
}
