.no-shopping-cart-cont {
  /* height: calc(
    100vh - (var(--header-height) + var(--breadcrumbs-height)) + 1px
  ); */
}
.empty-cart-text {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  font-size: 1.2rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-cart-text h3 {
  font-weight: 300;
  margin-bottom: 1rem;
}
.cart-table-container {
  /* height: calc(
    100vh - (var(--header-height) + var(--breadcrumbs-height) + 10rem)
  ); */
  margin-bottom: 12rem;
  /* max-width: 1280px;
  margin-left: auto;
  margin-right: auto; */
}
/* table header */
.cart-table-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: 20rem 1fr 1fr 1fr 5rem;
  padding: 1.1rem 0;
  border-bottom: 1px solid var(--clr-grey-11);
}
.cart-table-header > div {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-grey-9);
}

/* table row */
.cart-table-row {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr 1fr 5rem;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--clr-grey-11);
}
.cart-table-row > div:not(:first-child) {
  text-align: center;
}

/* table product */
.row-product-cont {
  display: flex;
  align-items: center;
}
.row-product-cont img {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 0.9rem;
}
.row-product-cont h4 {
  margin-bottom: 0.7rem;
  white-space: wrap;
  width: 225px;
  color: var(--clr-grey-8);
}
.row-product-cont p {
  font-size: 0.9rem;
}

/* table price */
.row-price {
}

/* table qty */
.row-qty select {
  padding: 0.3rem 1.5rem;
}

.row-total {
}

/* table remove btn */
.row-remove-btn {
  font-size: 1.5rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: background 0.3s;
  display: grid;
  place-items: center;
  margin-left: auto;
}
.row-remove-btn:hover {
  background: var(--clr-grey-10);
}

.cart-footer {
  position: fixed;
  bottom: 1rem;
  /* left: 0; */
  padding-left: 1rem;
  right: 1rem;
  background: white;
  /* background: rgba(255, 255, 255, 0.5); */
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.4);
  /* overflow: hidden; */
  border-radius: 5px;
}
.cart-summary-cont {
  background: white;
  width: 20rem;
  margin: 1rem;
  padding: 0.9rem;
  margin-left: auto;
}
.cart-summary-flex {
  display: flex;
  justify-content: space-between;
}

.cart-summary-cont .form-submit-btn {
  margin-top: 0.6rem;
}
