.checkout-form {
  margin-left: auto;
  margin-right: auto;
}
.checkout-form h3 {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  color: var(--clr-grey-8);
}
.checkout-form .form-control label {
  margin-bottom: 0;
}

.form-control-payment {
  display: block;
  margin-bottom: 0.9rem;
}
.form-control-payment .payment-label {
  font-size: 1rem;
  color: var(--clr-grey-9);
  font-weight: 500;
  /* width: 100%; */
  display: flex;
  border: 1px solid var(--clr-grey-11);
  padding: 1.2rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}
.form-control-payment svg {
  font-size: 1.9rem;
  margin-right: 0.6rem;
}
.form-control-payment .paypal-icon {
  font-size: 1.4rem;
}
.form-control-payment input[type='radio'] {
  appearance: none;
  -moz-appearance: none;
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  margin-left: auto;
}
.form-control-payment input[type='radio']::after {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  background-color: white;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  color: white;
  padding-top: 3px;
  display: inline-block;
  border: 2px solid var(--clr-grey-9);
}
.form-control-payment input[type='radio']:checked::after {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  background-color: var(--clr-green);
  background-color: var(--clr-accent-main);
  display: inline-block;
  text-align: center;
  padding-top: 3px;
  color: white;
  border: 2px solid var(--clr-green);
  border: 2px solid var(--clr-accent-main);
}
/* .form-control-payment .payment-label-active {
  background: #dfebe7;
  border: 1px solid var(--clr-grey-12);
} */
