.checkout-form {
  margin-left: auto;
  margin-right: auto;
}
.checkout-form h3 {
  letter-spacing: 0.2px;
  font-size: 1.3rem;
  margin: 1.5rem 0;
  color: var(--clr-grey-9);
}
.checkout-form .form-control label {
  margin-bottom: 0;
}

/* PAYMENT FORM */
.form-control-payment {
  display: block;
  margin-bottom: 0.9rem;
}

.form-control-payment .payment-label {
  position: relative;
  z-index: 1;
  font-size: 1.2rem;
  color: var(--clr-grey-9);
  font-weight: 500;
  padding: 1.2rem 2.2rem;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}
.form-control-payment .payment-label > div {
  display: flex;
  align-items: center;
}
.form-control-payment .payment-label > p {
  font-size: 0.9rem;
  color: var(--clr-grey-12);
  letter-spacing: 0.2px;
  font-weight: 400;
  margin-top: 0.8rem;
}
.form-control-payment svg {
  font-size: 2rem;
  margin-right: 0.6rem;
}
.form-control-payment .paypal-icon {
  font-size: 1.5rem;
}
.form-control-payment input[type='radio'] {
  appearance: none;
  -moz-appearance: none;
  width: auto;
  height: auto;
  border: none;
  background: transparent;
  margin-left: auto;
}
.form-control-payment input[type='radio']::after {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  background-color: white;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  color: white;
  padding-top: 3px;
  display: inline-block;
  border: 2px solid var(--clr-grey-9);
}
.form-control-payment input[type='radio']:checked::after {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 1rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f00c';
  background-color: var(--clr-accent-main);
  background-color: var(--clr-green);
  display: inline-block;
  text-align: center;
  padding-top: 3px;
  color: white;
  border: 2px solid var(--clr-accent-main);
  border: 2px solid var(--clr-green);
}
.payment-label-overlay {
  border: 1px solid var(--clr-grey-11);
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  /* background: #dfebe7; */
  z-index: -1;
  border-radius: 8px;
}
.form-control-payment input[type='radio']:checked + .payment-label-overlay {
  background: #dfebe7;
  border: 1px solid var(--clr-green);
  border: 1px solid currentColor;
}
/*END OF PAYMENT FORM STYLES */
