.product-section {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  height: 100%;
  min-height: calc(100vh - (var(--breadcrumbs-height) + var(--header-height)));
  align-items: center;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  gap: 2rem;
}

/* image column */
.img-col {
  margin-left: auto;
}
.img-col img {
  border-radius: 0.5rem;
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}

/* info column */
.info-col {
  padding-left: 2rem;
  max-width: 35rem;
}
/* product name */
.info-col h3 {
  font-weight: 800;
  margin-bottom: 1rem;
}
/* product desc */
.info-col > p {
  margin-bottom: 1rem;
  color: var(--clr-grey-9);
}
/* product sched */
.sched-input-container {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.8rem;
}
.sched-input-container label {
  font-size: 0.8rem;
  font-weight: 500;
}
.info-col .var-name {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  color: var(--clr-grey-8);
}
/* product variations */
.sizes-container {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1.1rem;
}
.var-button {
  cursor: pointer;
  border: 1px solid grey;
  letter-spacing: 0.2px;
  font-size: 1.1rem;
  padding: 0.3rem 1.5rem;
  background: transparent;
  border-radius: 3px;
}
.var-button-active {
  /* border: 1px solid var(--clr-accent-main);
  color: var(--clr-accent-main); */
  background: var(--clr-accent-main);
  border: 1px solid transparent;
  color: white;
}

/* product price */
.info-col h4 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 0.9rem;
  color: var(--clr-accent-main);
}
.info-col .peso-sign {
  color: var(--clr-accent-main);
  font-size: 1.2rem;
  padding-right: 1px;
}
.info-col .flex {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.quantity-container label {
  font-size: 0.8rem;
  font-weight: 500;
}
.quantity-container select,
.delivery-time-select,
.form-control .delivery-date-select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-grey-8);
  font-family: 'Poppins', sans-serif;
  border-color: gray;
  max-width: 11rem;
}
.quantity-container select {
  padding: 0.4rem 1rem;
  margin-bottom: 0.6rem;
}

@media screen and (min-height: 780px) {
  .product-section {
    min-height: 680px;
  }
}

/* styles for tablet */
@media screen and (max-width: 800px) {
  .product-section {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .img-col img {
    height: 20rem;
    width: 20rem;
  }
  .info-col {
    padding-left: unset;
  }
}

/* styles for mobile */
@media screen and (max-width: 680px) {
  .product-section {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
  }
  .img-col {
    margin-left: unset;
  }

  .info-col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
