.product-section {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  height: 100%;
  min-height: calc(100vh - (var(--breadcrumbs-height) + var(--header-height)));
  align-items: center;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  gap: 2rem;
}

/* image column */
.img-col {
  margin-left: auto;
}
.img-col img {
  border-radius: 0.5rem;
  height: 25rem;
  width: 25rem;
  object-fit: cover;
}

/* info column */
.info-col {
  padding-left: 2rem;
  max-width: 35rem;
}
/* product name */
.info-col h3 {
  font-weight: 800;
  margin-bottom: 1.2rem;
}
/* product desc */
.info-col > p {
  margin-bottom: 1.5rem;
  color: var(--clr-grey-9);
}
/* product sched */
.sched-input-container {
  margin-bottom: 2rem;
  display: flex;
  gap: 0.8rem;
}
input[type='date'],
input[type='time'] {
  padding: 0.4rem;
}
/* product price */
.info-col h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.info-col .peso-sign {
  color: var(--clr-grey-7);
  font-size: 1.2rem;
  padding-right: 1px;
}
.info-col .flex {
  display: flex;
  gap: 0.8rem;
}
/* quantity cont */
.quantity-container {
  /* background: whitesmoke; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.quantity-container label {
  /* font-weight: 500; */
  font-size: 1.1rem;
}
.input-control label {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
}
.input-control input {
  display: block;
}
.quantity-container select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.quantity-btn {
  font-size: 1rem;
  border: transparent;
  padding: 0.3em 1.5em;
  cursor: pointer;
}
.add-to-cart-btn {
  border: transparent;
  background: var(--clr-accent-main);
  color: white;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  letter-spacing: 0.2px;
  font-size: 1rem;
  transition: background 0.3s;
}
.add-to-cart-btn:hover {
  background: rgb(255, 101, 84);
}

@media screen and (min-height: 780px) {
  .product-section {
    min-height: 680px;
  }
}

/* styles for tablet */
@media screen and (max-width: 800px) {
  .product-section {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
  .img-col img {
    height: 20rem;
    width: 20rem;
  }
  .info-col {
    padding-left: unset;
  }
}

/* styles for mobile */
@media screen and (max-width: 680px) {
  .product-section {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding-bottom: 3rem;
  }
  .img-col {
    margin-left: unset;
  }

  .info-col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
