.alert-overlay {
  display: grid;
  place-content: center;
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.4); */
}
.alert {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  color: var(--clr-white);
  display: grid;
  place-content: center;
  box-shadow: var(--dark-1);
  width: 19rem;
  height: 9rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.alert-danger {
  color: #721c24;
  background: #f8d7da;
  color: #ffe1e3;
  background: var(--clr-red-light);
}
.alert-success {
  color: #155724;
  background: #d4edda;
  /* color: var(--clr-primary-1);
  background: var(--clr-primary-8); */
}
