/* header */
.products-admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1.5rem;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
.products-admin-header > h3 {
  font-size: 1.7rem;
  margin-bottom: 0;
  font-weight: 800;
  /* margin-left: 15rem; */
  color: var(--clr-grey-9);
}
.table-row .peso-sign {
  font-size: 0.9rem;
  color: var(--clr-grey-8);
}
.products-admin-header > button {
  background: none;
  border: 2px solid var(--clr-primary-5);
  padding: 0.5em 1em;
  color: var(--clr-primary-5);
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  border-radius: 4px;
}
.products-admin-header > button:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

/* table */
.products-admin-container .table-header {
  /* grid-template-columns: 14rem 6rem 1fr 7rem 10rem 8rem; */
  grid-template-columns: 15rem 7rem 11rem 8rem 1fr;
  padding: 1rem;
}
.products-admin-container .table-row {
  padding: 0.3rem 1rem;
  /* grid-template-columns: 14rem 6rem 1fr 7rem 10rem 8rem; */
  grid-template-columns: 15rem 7rem 11rem 8rem 1fr;
}
.products-admin-container .table-row .name-div {
  overflow: hidden;
  text-overflow: ellipsis;
}
.products-admin-container .table-row div:last-child {
  display: flex;
}
/* action btn */
.action-edit-btn,
.action-delete-btn {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0 0.5rem;
  cursor: pointer;
  display: flex;
}
.action-edit-btn svg {
  color: var(--clr-primary-7);
  font-size: 1.4rem;
}
.action-delete-btn svg {
  color: var(--clr-red-light);
  font-size: 1.5rem;
}
