.products {
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.4rem;
}
.card img {
  object-fit: cover;
  height: 13rem;
  width: 100%;
}
.card {
  height: auto;
  max-height: 18rem;
  max-width: 15rem;
  color: var(--clr-grey-8);
  box-shadow: var(--shadow-2);
}
.card-info {
  /* background: var(--clr-primary-5); */
  padding: 0.7rem;
}
.card-info div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.card-name {
  font-size: 0.8rem;
  font-weight: 400;
  color: currentColor;
}
.price {
  color: var(--clr-grey-5);
}
.add-cart-btn {
  font-size: 0.8rem;
  padding: 0.2em;
  border-radius: 0.5px;
  color: currentColor;
  background: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
  transition: var(--transition);
}
.add-cart-btn:hover {
  background: var(--clr-primary-5);
  color: var(--clr-white);
  border: 1px solid transparent;
}
